.image {
  position: relative;
  display: inline-block;
  /* background-color: var(--brandcolor); */
  color: white;
}

.image:after {
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.55) inset;
  content: '';
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
}

.image-img {
  background-size: cover;
  z-index: -1;
}
